<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-lg rounded border-0 text-center">
      <div class="card-header bg-transparent">
        <h2 class="mb-0 py-2">Start Fundraising</h2>
      </div>
      <div class="card-body m-3">
        <form class="form">
          <!-- <div class="form-group py-2">
              <label class="label" for="title">Organizer</label>
              <input type="text" #titleRef="ngModel" required class="form-control" placeholder="Title" name="title" id="title" [(ngModel)]="fundraiser.userid" >
          </div> -->
          <div class="form-group py-2">
            <label class="label" for="title">Title of your fundraising</label>
            <input type="text" #titleRef="ngModel" required class="form-control" placeholder="Title" name="title" id="title" [(ngModel)]="fundraiser.title" >
            <div [hidden]="titleRef.valid || titleRef.pristine" class="alert alert-danger">Title is required</div>
          </div>
          <div class="form-group py-2">
            <label class="label" for="description">Description of fundraising</label>
            <input type="description" #desRef="ngModel" required class="form-control" placeholder="Description" name="details" id="description" [(ngModel)]="fundraiser.details">
            <div [hidden]="desRef.valid || desRef.pristine" class="alert alert-danger">Description is required</div>
          </div>
          <div class="form-group">
            <label class="label3" for="Category">What are you fundraising for?</label>
            <select class="form-control" [(ngModel)]="selectedValue" (change)="onChangeSelect($event)">
              <option *ngFor="let category of categories" name="categoryid" [value]="category._id">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group py-2">
            <label class="label" for="city">Which city do you live?</label>
            <input type="city" #cityRef="ngModel"  required class="form-control" placeholder="City" name="city" id="city" [(ngModel)]="fundraiser.city">
            <div [hidden]="cityRef.valid || cityRef.pristine" class="alert alert-danger">City</div>
          </div>
          <div class="form-group">
            <label class="label5" for="photo">Upload photo</label>
            <input type="file" class="form-control-file" name="image" id="photo" (change) = "selectImage($event)">
          </div>
          <div class="form-group py-2">
            <label class="label4">Goal amount for your fundraising</label>
            <input type="amount" #amountRef="ngModel" required class="form-control" placeholder="₸ " name="amount_goal" [(ngModel)]="fundraiser.amount_goal">
            <div [hidden]="amountRef.valid || amountRef.pristine" class="alert alert-danger">Goal amount is required</div>
          </div>
          <div class="container p-0">
            <div class="card px-4">
              <p class="h8 py-3">Card Details</p>
              <div class="row gx-3">
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="label1">Person Name</p>
                    <input class="form-control mb-3" type="text" placeholder="Name" value="Zhakiyeva Alua">
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="label1">Card Number</p>
                    <input class="form-control mb-3" type="text" #cardRef="ngModel" placeholder="1234 5678 435678" name="card_num" [(ngModel)]="fundraiser.card_num">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button (click)="createFundraising()" type="button" class="btn btn-outline-info mt-4">Create a fundraising</button>
        </form>
      </div>

    </div>
  </div>
</div>
