<div class="row">
  <div class="container-sm mx-auto my-5 pb-3 rounded shadow-lg" style="width: 50%">
    <h1 class="py-3" style="text-align: center">Edit profile</h1>
    <hr class="pb-2" style="width: 80%">
    <img class="shadow-lg rounded-circle mx-auto d-block mb-3" width="200px" src="{{userData.imagePath}}">
    <div class="form-group d-flex justify-content-center">
      <input type="file" class="form-control-file btn mb-4" name="image" id="photo" (change) = "selectImage($event)">
    </div>
    <div class="mx-3 pb-4">
      <form>
        <div class="form-group mb-5">
          <label for="firstname">First name</label>
          <input required type="firstname" class="form-control" placeholder="Enter firstname" id="firstname" value="{{userData.firstname}}" [(ngModel)]="user.firstname">
        </div>
        <div class="form-group mb-5">
          <label for="lastname">Last name</label>
          <input required type="lastname" class="form-control" placeholder="Enter lastname" id="lastname" value="{{userData.lastname}}" [(ngModel)]="user.lastname">
        </div>
        <div class="form-group mb-5">
          <label for="dateofbirth">Date of birth</label>
          <input required type="dateofbirth" class="form-control" placeholder="Enter date of birth" id="dateofbirth" value="{{userData.birthday}}" [(ngModel)]="user.birthday">
        </div>
        <label>Gender</label>
        <div class="row mb-2 d-flex justify-content-center">
          <select class="form-control my-3" style="width: 80%" [(ngModel)]="selectedValue" (change)="onChangeSelect($event)">
            <option name="gender" [value] = "1">Male</option>
            <option name="gender" [value] = "2">Female</option>
          </select>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn mb-4" (click)="updateProfileData()" role="button" style="background-color: #E5E5E5; width: 25%">Save</a>
      <a class="btn ml-2 mb-4" (click)="onSelectProfile()" role="button" style="background-color: #E5E5E5; width: 25%">Go Back</a>
    </div>
  </div>
</div>
