<div class="row">
  <div class="container-xl mt-3 mb-5 pb-3 py-2 shadow-lg rounded">
    <img class="shadow-lg rounded-circle mx-auto my-auto d-block mb-5" width="175px" height="175px" src="{{userData.imagePath}}">
    <h3 class=" mt-3 pb-5 display" style="text-align: center">{{userData.firstname}} {{userData.lastname}}</h3>
    <div class="rounded pt-4 pb-4 shadow-sm" style="background-color: #E9E9E9">
      <div class="row">
        <div class="col text-center">
          <h4>Email</h4>
        </div>
        <div class="col text-center">
          <h4>Date of birth</h4>
        </div>
        <div class="col text-center">
          <h4>Gender</h4>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5 class="text-secondary">{{userData.email}}</h5>
        </div>
        <div class="col text-center">
          <h5 class="text-secondary">{{userData.birthday}}</h5>
        </div>
        <div class="col text-center">
          <h5 class="text-secondary">{{userData.gender}}</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center pt-5 mt-3">
      <h4>Recent donations</h4>
    </div>
    <div class="col d-flex justify-content-center mb-5">
      <table class="table table-hover rounded shadow-sm" style="background-color: #E5E5E5; width: 500px">
        <tbody>
        <tr>
          <td><a class="btn" (click)="onDonations()" role="button">See all...</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="container d-flex justify-content-center mb-3">
      <a class="btn mr-2" (click)="onChangePass()" role="button" style="background-color: #E5E5E5">Change password</a>
      <a class="btn ml-2" (click)="onEdit()" role="button" style="background-color: #E5E5E5">Edit</a>
    </div>
  </div>
</div>
