<div class="row">
  <div class="container-sm mx-auto my-5 pb-3 rounded shadow-lg" style="width: 50%">
    <h1 class="py-3" style="text-align: center">My donations</h1>
    <table class="table table-striped rounded mb-3">
      <thead>
      <tr>
        <th>Donation</th>
        <th>Amount of money</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let donation of donations">
        <td>{{fundraisings.title}}</td>
        <td>₸ {{donation.donation}}</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <a class="btn mb-4" (click)="onSelectProfile()" role="button" style="background-color: #E5E5E5; width: 40%">Go back</a>
    </div>
  </div>
</div>

