.centered-text{
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  font-family: Arial;
}
.btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #A1CCDE;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.text{
  margin-left: 90px;
  margin-top: 50px;
}
.card-deck{
  margin-top: 20px;
  margin-left: 70px;
}
