<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let fundraising of fundraisings">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{fundraising.imagePath}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{fundraising.address}}</h5>
                <h5 class="card-title">{{fundraising.title}}</h5>
                <p class="card-text">{{fundraising.details}}</p>
                <h6>goal: {{fundraising.amount_goal}}</h6>
                <a [routerLink]="[]" class="stretched-link" (click)="onSelect(fundraising._id)"></a>
            </div>
        </div>
    </div>
</div>